@import "./shared.scss";

* {
  font-family: "Comfortaa", serif !important;
}

html {
  scroll-behavior: smooth;

  body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    transition: background 2s;
  }

  p {
    font-size: 0.8em;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  .animateText {
    -webkit-animation: animateTextOpacity, animateTextFade 3s, 1.5s infinite; /* Safari 4+ */
    -moz-animation: animateTextOpacity, animateTextFade 3s, 1.5s infinite; /* Fx 5+ */
    -o-animation: animateTextOpacity, animateTextFade 3s, 1.5s infinite; /* Opera 12+ */
    animation: animateTextOpacity, animateTextFade 3s, 1.5s infinite; /* IE 10+, Fx 29+ */
  }

  @keyframes animateTextOpacity {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes animateTextFade {
    0% {
      padding-top: 10%;
    }
    100% {
      padding-top: 0%;
    }
  }
}
