@import "./shared.scss";

* {
  font-family: "Comfortaa", serif !important;
}

html {
  scroll-behavior: smooth;

  body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    transition: background 2s;
  }

  p {
    font-size: 0.8em;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }
}
