@import "./shared.scss";

* {
  font-family: "Comfortaa", serif !important;
}

html {
  scroll-behavior: smooth;

  body {
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1em;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  .animateText {
    -webkit-animation: animateTextFade 1.5s 1, animateTextOpacity 3s 1; /* Safari 4+ */
    -moz-animation: animateTextFade 1.5s 1, animateTextOpacity 3s 1; /* Fx 5+ */
    -o-animation: animateTextFade 1.5s 1, animateTextOpacity 3s 1; /* Opera 12+ */
    animation: animateTextFade 1.5s 1, animateTextOpacity 3s 1; /* IE 10+, Fx 29+ */
  }

  @keyframes animateTextOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes animateTextFade {
    0% {
      padding-top: 10%;
    }
    100% {
      padding-top: 0%;
    }
  }

  @media only screen and (max-width: 1200px) {
    p {
      font-size: 0.8em;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.2em;
    }

    h3 {
      font-size: 1em;
    }
  }

  @media only screen and (max-width: 900px) {
    p {
      font-size: 0.7em;
    }

    h1 {
      font-size: 1.2em;
    }

    h2 {
      font-size: 1em;
    }

    h3 {
      font-size: 0.8em;
    }
  }

  @media only screen and (max-width: 500px) {
    p {
      font-size: 0.6em;
    }

    h1 {
      font-size: 1.1em;
    }

    h2 {
      font-size: 0.9em;
    }

    h3 {
      font-size: 0.7em;
    }
  }
}
