// -- colors -------------------------------
:root {
  --primary: #fdec00;
  --primary-dark: #E6CE1D;
  --grey: #787e8c;
  --white: #F4F5F5;
  --dark: #38383a;
}

// -- heights ------------------------------
$header_size: 3.25rem;
