// -- colors -------------------------------
:root {
  --primary: #fdec00;
  --primary-dark: #b5a31c;
  --black: #1a1a1a;
  --grey: #b4b4b4;
  --white: #F4F5F5;
  --dark: #38383a;  
}

// -- heights ------------------------------
$header_size: 3.25rem;
