// -- colors -------------------------------
:root {
  --primary: #fdec00;
  --primary-dark: #E6CE1D;
  --grey: #9BA3A4;
  --grey-dark: #3D444A;
  --white: #F4F5F5;
  --dark: #403F45;
}

// -- heights ------------------------------
$header_size: 3.25rem;
